
.battlemap-container{
    position: relative
}
.battlemap{
    /* height: 300px; */
    max-width: 100%;
}
.battlemap-overlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
/* .battlemap-overlay{
    position: absolute;
    left: 40px;
    top: 30px;
    background-color: aquamarine;
    width: 20px;
    height: 20px;
} */
.avatar-img{
    border:7px ridge #976b0c;
}