.battlemap-room{
    position: relative;
    /* position: absolute; */
    background-color: aquamarine;

    top: calc(var(--y)*10, 10);
    left: calc(var(--x)*10, 10);
    width: calc(var(--width)*10, 10);
    height: calc(var(--height)*10, 10);
}