.battlemap-container{
    position: relative;
    width: 400px;
}
.battlemap{
    /* height: 300px; */
    max-width: 100%;
}
.battlemap-overlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
/* .battlemap-overlay{
    position: absolute;
    left: 40px;
    top: 30px;
    background-color: aquamarine;
    width: 20px;
    height: 20px;
} */
.battlemap-room{
    /* position: relative; */
    position: absolute;
    background-color: aquamarine;
    border: black;
    border-style: double;

    top: calc(var(--y)*20px + 40px);
    left: calc(var(--x)*20px + 25px);
    width: calc(var(--width)*20px);
    height: calc(var(--height)*20px);
}
.battlemap-overlay{
    width: 100%;
    height: -webkit-fill-available;
}