<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BoopQuest</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- MUI -->
    <link href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>

    <!-- My Code -->
    <link rel='stylesheet' type='text/css' media='screen' href='mui.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='chat.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='map.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <script src='game.js'></script>
    <link rel="shortcut icon" href="img/favicon.ico" />

    <script>
        $(function(){

            window.player = new Player();

            parser = new DOMParser();
            document.mdl = parser.parseFromString('{{ module|safe }}',"text/xml");
            initialize_ui(window.player);
            module_populate(document.mdl);

            activateLocation('GameIntro')
        });
    </script> 

</head>

<body>
    <div id="sidedrawer" class="mui--no-user-select">
        <!-- Side drawer content goes here -->
        <div id="sidedrawer-brand" class="mui--appbar-line-height">
            <span class="mui--text-title">BoopQuest</span>
        </div>
        <div class="mui-divider"></div>
        <b>❤️ Health: <span style="color:green"><span id="current_hp">4</span>/<span id="remaining_hp">4</span></span></b>
        <b>🪙 Gold: <span id="gold" style="color:gold">0</span></b>
        <div class="mui-divider"></div>
        <ul>
            <li>
                <strong>🎒 Items</strong>
                <ul id="item-bag">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
            <li>
                <strong>🧑‍🤝‍🧑 Party</strong>
                <ul>
                    <li><a href="#">Aura</a></li>
                    <li><a href="#">Ho-Dag</a></li>
                    <li><a href="#">Chira</a></li>
                </ul>
            </li>
            <li>
                <strong>🗺️ Map</strong>
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
            <li id="quest-journal">
                <strong>📔Quest Journal</strong>
                <ul id="quest-journal-list">
                    <!-- <li><a href="#">Item 1</a></li> -->
                </ul>
            </li>
            <li>
                <strong>🔎 Encyclopedia</strong>
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <header id="header">
        <div class="mui-appbar mui--appbar-line-height">
            <div class="mui-container-fluid">
                <a
                    class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
                <span class="mui--text-title mui--visible-xs-inline-block">AnyQuest</span>

            </div>
        </div>
    </header>
    <div id="content-wrapper">
        <!-- Main content goes here -->
        <div class="mui--appbar-height"></div>
        <div class="mui-container-fluid">
            <br>
            <!-- <div class="mui-row">
                
            </div> -->
            <div class="mui-row">
                <div class="mui-col-md-4 battlemap-container">
                    <b>Current Location:</b> Buudershaw - The Silver Sickle
                    <img class="battlemap" src="https://i.pinimg.com/originals/b7/ec/ea/b7eceabd5844e94eb55970c0963bec5c.jpg" />                                    
                    <div class="battlemap-overlay">
                    </div>
                        <!-- <div class="battlemap-room" onclick="activateLocation('MarketStreet')">1</div> -->
                </div>
                <div class="mui-col-md-8" id="chat-container">
                    <div class="chat">
                        <div class="speechbubble">
                                <div class="dialog dialog-right">
                                    Testing Right-Dialog                                    
                                </div>
                        </div>
                        <div class="avatar-box">
                            <span>Stand-In</span>
                            <img class="avatar-img" src="img/avatars/admin.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>